{% extends 'base.html' %}

{% block content %} 

<header id="head">
    <div class="container">
    <section class="page-section" id="créer une offre">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Publier une demande</h2
                    <hr class="divider"/>                    
            </div>
        </div>
</header>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                                          
                <form method="post" enctype="multipart/form-data">
                   
                    {{ offer_form.as_p }}
                        
                    {% csrf_token %}
                    <button type="submit">Publier</button>
                </form>                          
            </div>
        </div>            
    </div>
</section>

{% endblock %}