{% extends 'base.html' %}
{% load static %}

{% block content %}

<header id="head">
    <h1 class="text-uppercase">MENTIONS LEGALES</h1>
</header>
<body>
   <div class="container my-auto">
      <div class="row">
         <div class="col-lg-10 mx-auto pt-3 custom-color">
            <p>
                <h4>1. Identification du Site :</h4>

                <h5>Nom du Site : Troc de services</h5>
                <h5>URL du Site : http://127.0.0.1:8000/</h5>
                
                <h4>2. Coordonnées du Responsable du Site :</h4>
                
                <h5>Nom ou Dénomination Sociale : Echanges de services</h5>
                <h5>Adresse Postale : Rue de l'entraide</h5>
                <h5>Adresse Électronique : troc@testmail</h5>
                <h5>Numéro de Téléphone : 01020304</h5>
                
                <h4>3. Hébergeur du Site :</h4>
                
                <h5>Nom ou Dénomination Sociale de l'Hébergeur : [Nom de l'hébergeur]</h5>
                <h5>Adresse Postale de l'Hébergeur : [Adresse postale de l'hébergeur]</h5>
                <h5>Adresse Électronique de l'Hébergeur : [Adresse e-mail de l'hébergeur]</h5>
                
                <h4>4. Finalité du Site :</h4>
                
                <h5>Le site a pour finalité de permettre l'échange de biens et de services entre les locataires du quartier Plaisance.</h5>
                
                <h4>5. Conditions d'Utilisation :</h4>
                <div class="h-body text-center">
                <p>Les utilisateurs du site sont soumis aux conditions générales d'utilisation disponibles à [lien vers les CGU].<p>
                </div>
                <h4>6. Propriété Intellectuelle :</h4>
                
                <h5>Le contenu du site est protégé par des droits d'auteur. Toute reproduction totale ou partielle sans autorisation est interdite.</h5>
                
                <h4>7. Données Personnelles :</h4>
                
                <h5>Consultez notre Politique de Confidentialité à [lien vers la politique de confidentialité] pour plus d'informations sur la collecte et le traitement des données personnelles.</h5>
                
                <h4>8. Cookies :</h4>
                
                <h5>Consultez notre Politique relative aux Cookies à [lien vers la politique de cookies] pour comprendre comment nous utilisons les cookies et obtenir le consentement des utilisateurs.</h5>
                
                <h4>9. Responsabilité :</h4>
                
                <h5>Le site décline toute responsabilité quant aux liens externes et aux transactions entre utilisateurs.</h5>
                
                <h4>10. Litiges :</h4>
                
                <h5>Tout litige relatif au site sera soumis à la juridiction compétente de Paris.</h5>
                
                <h4>11. Droits de Reproduction :</h4>
                
                <h5>Tous droits de reproduction sont réservés, sauf autorisation expresse.</h5>
                
                <h4>12. Droit Applicable :</h4>
                
                <h5>Le site est régi par le droit français.</h5>
            <br>  
             <h4 > Projet développé avec: <a href="https://www.djangoproject.com/" target="_blank">Django</a></h4>
            <h4>Template utilisé:  <a href="http://gettemplate.com/" rel="designer">gettemplate</a></h4>
            <h4>Images libres de droit:  <a href="https://fr.freepik.com/photos-vecteurs-libre/troc" target="_blank">Entraide</a></h4>
            <h4>Logo libres de droit:  <a href="https://www.istockphoto.com/fr/vectoriel/concept-de-travail-d%C3%A9quipe-connexion-%C3%A0-cinq-mains-gm1343496367-422216901" target="_blank">solidarité</a></h4>
            </br>
         </div>
      </div>
   </div>
</body>

{% endblock %}


