{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--<body>-->
    <header id="head">
        <div class="container"> 
            <center>       
        <form class="input-group" method=POST action="{% url 'search' %}">
            {% csrf_token %}       
            <input class="form-control me-2"
            type="search" placeholder="Tapez votre recherche par mot clé" aria-label="Chercher" aria-describedby="search-addon" name="query">
            <!--<button class="icon"><i class="fa fa-search"></i></button>-->
            <button id="result-button" class="btn btn-outline-secondary" type="submit">RECHERCHE</button>    
      
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value='Offre' id="flexRadioDefault1"/>
                <label class="form-check-label" for="flexRadioDefault1"> Offres </label>
              </div>              
              <!-- Default checked radio -->
              <div class="form-check">
                <input class="form-check-input" type="radio" name="type" value='Demande' id="flexRadioDefault2"/>
                <label class="form-check-label" for="flexRadioDefault2"> Demandes </label>
              </div>    
               
        </form> 
        <div align=center>
        </center>
        <div class="container">
                <center>
                    {% if offers %}
                        <h1>Voici les annonces que vous avez recherchées pour: {{query}}</h1>
                    {% else %}
                    {% comment %}
                     <h1>Nous n'avons pas trouvé l'annonce recherchée, veuillez retaper votre demande</h1> 
                     {% endcomment %}
                        <h1>Veuillez indiquer un mot clé et cliquez sur recherche</h1>
                    {% endif %}
                </center>               
    
        </div>
    </div>
</header>

<body>
    <section class="page-section" id="résultats">            
        <div class="container py-1 bg-light">
            <div class="row">
                {% for offer in offers %}
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="card-mb-4 shadow-sm">                    
                    
                    <a href="{% url 'view_offer' offer.id %}">
                        <h4>{{ offer.title }}</h4>
                    </a>                         
                    </div>                           
                </div>
                {% empty %}
                {% if query %}
                <h3>Aucune annonce trouvée avec ce mot clé</h3>
                {% else %}
                <h4></h4>
                {% endif %}   
                {% endfor %}
                
        
        </div>  
    </div>             
    </section>
<body/>
{% endblock %}
