{% extends 'base.html' %}
{% block content %}
<header id="head">

    <h2>LISTE DE MES OFFRES</h2>

</header>

<body>
    <div align=center>
        <h5> Utilisateur connecté:{{ user }}</h5>
        <table border="3" Cellspacing="1" Cellpadding="5">
            <thead>  
                <tr>                        
                    <th scope="col">Mes offres</th>
                </tr>                                                       
            </thead>                  
<tbody> 
         
            {% for offer in myoffers %} 
            <tr>
                <ul class='list-group'>
                <div class="post">
                    <td>
                    <a href="{% url 'view_offer' offer.id %}">
                                           
                        <li>{{ offer.title }}                                
                    </a>
                    (Catégorie:{{ offer.category }})</li>
                </td>
                </div>
            </tr>
            {% endfor %}        
        </tbody> 
    </table>  
</div>
 
<body>
{% endblock content %}