{% extends 'base.html' %}
{% block content %}
<header id="head">

    <h2>LISTE DE MES ANNONCES</h2>

</header>

<body>
    
    <!--<div style="width:100%; text-align:center">-->
    <div class="offers-div" align=center>
        
    <!--<table class="table table-bordered">-->
        <table border="3" Cellspacing="1" Cellpadding="5">
            <thead>            
            <tr>                               
                <th scope="col">Mes demandes</th>                                                               
            </tr>        
            </thead>
            
    <tbody>  
            {% for offer in myrequests %} 
            <tr>
                <td align="center">
                <div class="post">
                    <a href="{% url 'view_offer' offer.id %}">                                           
                        <li>{{ offer.title }}                                
                    </a>
                    (Catégorie:{{ offer.category }})</li>
                </td>
                </div>
            </tr>
            {% endfor %}               
    </tbody>
</table>
</div>  
    

<body>
{% endblock content %}