{% extends 'base.html' %}
{% block content %}
<header id="head">
    <div class="container">

    <h2>LISTE DES OFFRES PAR CATEGORIE</h2>
</header>        
           
<body>
    <div class="container" align=center> 
        <ul>
            {% for offer in offers %}
                <div class="post">
                    <a href="{% url 'view_offer' offer.id %}">
                    <h4>{{ offer.title }}</h4>
                    </a>
                    (Date: {{ offer.date_added }})
                </div>
            {% endfor %}
        </ul>
    </div>
<body>
    
            </body>
{% endblock %}