{% extends 'base.html' %}
{% block content %}
<header id="head">
    <div class="container">

    <h2>LISTE DES CATEGORIES</h2>
</header>
    <body>
    <div class="grid-container">
        <ul class="post"> <a href="{% url 'view_offers' %}">Toutes les offres</a> </ul>
        {% for category in categories %}
            <ul class="post">
                <!--<a href="{% url 'view_offers' %}?category={{ category.name }}">{{category.name}}</a>-->            
                <a href="{% url 'view_category' category.id %}"</a>
                    <li> {{ category.name }}</li>
            </ul>
        {% endfor %}
    </div>
    <body>
{% endblock %}