{% extends 'base.html' %}
{% block content %}
<header id="head">


    <h2>LISTE DE MES MESSAGES</h2>

</header>

<body>
    <!--<div class="grid-container">-->
        <div align=center>
        <table border="3" Cellspacing="1" Cellpadding="2">
            <thead>
            <tr>                
                <th scope="col">Mes commentaires</th>
                <th scope="col">Annonce</th>                                                               
            </tr>
            </thead>
    <div align=center>        
    <tbody>  
        <h5> Utilisateur connecté:{{ user }}</h5>
            {% for comment in mycomments %}            
            <tr>
                <div class="post">
                    <a href="{% url 'view_mycomments' %}"></a>
                    
                        {% if request.user.username == comment.commenter_name %}</a>  
                                       
                        <td scope="row">{{ comment.comment_body }}</td>                      
                        <td scope="row"><a href="{% url 'view_offer' comment.offer.id %}">
                            {{ comment.offer.title }}</a>(Publiée par : {{ comment.offer.user }})</td>                                              
                        
                            
                        {% endif %} 
                                                                          
                </div>
            </tr>
            
            {% endfor %}            
        </table> 
    </tbody>  
    </div>
<body>
{% endblock content %}

<body>
    <div align=center>        
            {% for offer in offers %}
            <ul class='list-group'>
                <div class="post">
                    <a href="{% url 'view_offer' offer.id %}">                    
                        <li class='list-group-item'>{{ offer.title }}                    
                    </a>
                    (Catégorie:{{ offer.category }} Date: {{ offer.date_added }})</li>
                </div>
            </ul>
            {% endfor %}        
    </div>
<body>