{% extends 'base.html' %}
{% block content %}
<header id="head">
    <div class="container">

    <h2>LISTE DES CATEGORIES</h2>
</header>
    
        {% extends 'base.html' %}
        {% block content %}
            <header id="head">
            <div class="container">
            </div>
            <h2>DETAIL DE L'OFFRE</h2>
            </header>
            
            <body>
            
            <h3>{{ offer.title }}</h3>
            
                
            
    
            </body>
{% endblock content%}